@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 100%;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-width: 100%;
  min-height: 100vh;
}

/*
  Choose color palette #2 
  #362417, #92817a, #f1dabf, #fffbff, #04030f
*/

/* For Landing Page */
#landing {
  width: 100%;
  height: 100vh;
  background: url('../public/landing_background_1.jpeg') no-repeat center center fixed;
  background-size: cover;
  /* background-color: #fffbff; */
}

#to_auth {
  float: right;
  margin-top: 0.8em;
  margin-right: 1em;
  font-size: 1.7em;
  border: 1.7px solid #04030f;
  color: #04030f;
  padding: 0.3em 0.8em;
  position: absolute;
  z-index: 100;
}

#to_auth:hover {
  background-color: rgba(202, 200, 203, 0.5);
}

#landing_title {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 22em;
  z-index: -1;
  pointer-events: none;
  /* padding-left: 0.2em; */
}

/* For Auth Page */
#auth {
  width: 100%;
  height: 100vh;
  background-color: #fffbff;
  /* text-align: center; */
}

#auth p {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 2.4em;
}

#home_btn {
  float: right;
  margin-top: 0.8em;
  margin-right: 1em;
  padding: 0.3em 0.8em;
  border: 1.7px solid #04030f;
  font-size: 1.7em;
}

#home_btn:hover {
  background-color: #ede6dd;
}

/* .signup {
  display: none;
} */

.login, .signup {
  width: 100%;
  height: 100vh;
}

#login_background_image {
  width: 45%;
  height: 100vh;
  float: left;
  background: url('../public/auth_background_1.jpeg') no-repeat center center fixed;
  background-size: cover;
}

#login_form, #signup_form {
  width: 55%;
  height: 80vh;
  padding: 0 7em;
  padding-left: 8.5em;
  margin-top: 8em;
  float: left;
}

#login_form form, #signup_form form {
  margin-top: 3.5em;
  width: 65%;
  font-family: 'Mandali', sans-serif;
}

#login_form h3, #signup_form h3 {
  font-family: 'Halant', serif;
  font-weight: 500;
}

#login_submit, #signup_submit {
  margin-top: 1.5em;
  width: 100%;
  background-color: black;
  color: white;
}

.password {
  margin-top: 0.5em;
}

.or {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

#a {
  width: 100%;
}

#auth a {
  text-decoration: none;
  color: black;
  text-align: center;
  width: 100%;
  margin: 0 25% 0 25%;
}

#changeAuthForm {
  width: 100%;
  text-align: center;
  margin-top: 0.1em;
}

#changeAuthForm:hover {
  color: #606060;
}

/* .signup {
  width: 100%;
  height: 100vh;
} */

#signup_background_image {
  width: 45%;
  height: 100vh;
  float: left;
  background: url('../public/auth_background_3.jpeg') no-repeat center center;
  background-size: cover;
}

/* #signup_form {
  width: 55%;
  height: 80vh;
  padding: 0 7em;
  margin-top: 8em;
  float: left;
} */

/* #signup_form form {
  margin-top: 3.5em;
  width: 70%;
} */

/* #signup_form form {
  font-family: 'Mandali', sans-serif;
} */

/* #signup_form h3 {
  font-family: 'Halant', serif;
  font-weight: 500;
} */

/* #signup_submit {
  margin-top: 1em;
  width: 100%;
  background-color: black;
  color: white;
} */

/* For Profile Page */
#profile {
  width: 100%;
  height: 100vh;
  background-color: #fffbff;
  font-family: 'Mandali', sans-serif;
}

#profile nav {
  border-bottom: 1px solid black;
  /* padding-right: 6%; */ 
}

#profile nav div {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

#profile nav button {
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 1em;
}

#logout {
  margin-left: 2em !important;
}

#profile nav button:hover {
  color: #606060;
}

#main_section {
  height: 80vh;
}

#user_info {
  width: 70%;
  margin: 0 auto;
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#profile_picture {
  margin: auto 0 auto 60%;
}

#profile img {
  width: 10em;
  height: auto;
  border-radius: 100000em;
}

#profile_info {
  margin: 1em 0;
  font-size: 1.5em;
}

#hr {
  width: 80%; 
  margin: 0 auto;
}

#user_recipes {
  width: 70%;
  margin: 0 auto;
}
